<div class="container">
  <div class="col-md-offset-3 col-md-4">
    <header>
      <h1>Login</h1>
    </header>
    <div class="alert alert-danger alert-dismissable" role="alert" ng-show="vm.loginFailed">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="vm.loginFailed = false">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="text-center">Login failed</h4>
    </div>
    <form ng-submit="vm.login(vm.username, vm.password)" name="loginForm">
      <div class="form-group">
        <label for="username" class="control-label">User name</label>
        <input type="text" name="username" id="username" ng-model="vm.username" class="form-control"/>
      </div>

      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" name="password" id="password" ng-model="vm.password" class="form-control"/>
      </div>

      <button class="btn btn-primary" type="submit">Login</button>

    </form>
  </div>
</div>